format = """
$directory\
$git_branch\
$git_state\
$git_status\
$git_metrics\
$line_break\
$username\
$hostname \
$os \
$character\
 \
"""

right_format = """
$c\
$rust\
$golang\
$php\
$java\
$kotlin\
$haskell\
$python\
$package\
$battery\
$cmd_duration\
$time"""

palette = 'default'

[palettes.default]

color_ok = 'bright-green'
color_danger = 'bright-red'
color_caution = 'bright-yellow'

color_os = 'red'
color_username = 'green'
color_directory = 'yellow'
color_git = 'cyan'
color_git_added = 'bright-green'
color_git_deleted = 'bright-red'
color_env = 'blue'
color_kubernetes = 'purple'
color_docker = 'blue'
color_shell = ''
color_container = ''
color_other = ''
color_time = ''
color_duration = ''

color_vimcmd_ok = 'green'
color_vimcmd_replace = 'purple'
color_vimcmd_visual = 'yellow'

[fill]
symbol = ' '

[directory]
style = "fg:color_directory"

[username]
show_always = true
format = '[varun@]($style)'
style_user = "fg:color_username"
style_root = "bold fg:color_danger"

[hostname]
ssh_only = false
format = '[work]($style)'
style = 'white bold'

[character]
success_symbol = "[->](green)"
error_symbol = "[->](red)"
vimcmd_symbol = "[<-](green)"

[sudo]
format = "[$symbol]($style)"
style = "bold italic bright-purple"
symbol = "   "
disabled = true

[os]
disabled = false
style = "bold white"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Macos = "󰘳"
Mint = "󰣭"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
EndeavourOS = ""
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
Pop = ""

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[( *$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"

[git_metrics]
disabled = false

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = " [$duration]($style) "
style = "yellow"

[package]
disabled = false
symbol = "󰏗"
style = "fg:color_env"
format = '( [$symbol( $version)]($style) )'

[nodejs]
symbol = ""
style = "fg:color_env"
format = '( [$symbol( $version)]($style) )'

[c]
symbol = ""
style = "fg:color_env"
format = '( [$symbol( $version)]($style) )'

[rust]
symbol = "󱘗"
style = "fg:color_danger"
format = '( [$symbol( $version)]($style) )'

[golang]
symbol = "󰟓"
style = "fg:color_env"
format = '( [$symbol( $version)]($style) )'

[php]
symbol = ""
style = "fg:color_env"
format = '( [$symbol( $version)]($style) )'

[java]
symbol = ""
style = "fg:color_env"
format = '( [$symbol( $version)]($style) )'

[kotlin]
symbol = ""
style = "fg:color_env"
format = '( [$symbol( $version)]($style) )'

[haskell]
symbol = ""
style = "fg:color_env"
format = '( [$symbol( $version)]($style) )'

[python]
symbol = ""
style = "fg:color_env"
format = '( [$symbol ( $virtualenv)]($style) )'
version_format = '${raw}'

[battery]
format = "[ $percentage $symbol]($style)"
full_symbol = "█"
charging_symbol = "[↑](italic bold green)"
discharging_symbol = "↓"
unknown_symbol = "░"
empty_symbol = "▃"

[[battery.display]]
threshold = 20
style = "italic bold red"

[[battery.display]]
threshold = 50
style = "italic dimmed bright-purple"

[[battery.display]]
threshold = 70
style = "italic dimmed yellow"

[[battery.display]]
threshold = 100
style = "italic dimmed bright-green"

[time]
disabled = false
format = "[ $time]($style)"
time_format = "%R"
utc_time_offset = "local"
style = "italic dimmed white"
